/*［bodyの書式］文字色:濃いグレー、文字サイズ:16px、書体:游ゴシック体、背景色:ベージュ*/
body{
  /*テキストのデフォルトの書式*/
  color: #333;
  font-size: 16px;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  /*ページの背景色*/
  background-color: beige;
}

/*［ID:wrapperの書式］幅:980px、中央配置、内側左右余白:20px、背景色:白*/
#wrapper {
  background-color: #fff;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*［headerの書式］下余白:20px*/
header {
  padding-bottom: 20px;
}

/*［WebDesignの書式］
背景色:青、文字色:白、中央揃え、余白:30px
→文字サイズ:30px、太字
→外側下余白:20px*/
header h1 {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*［メニューの書式］上下ボーダー（線幅:2px、線種:直線、線カラー:任意）、内側上下余白:15px*/
header nav {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #b51e1e;
  border-bottom: 2px solid #b51e1e;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/*［メニュー項目の書式］１行で表示、隣との間:20px*/
header nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

/*［リンク文字の設定］文字色：親と同じ、下線なし*/
header nav li a {
  color: inherit;
  text-decoration: none;
}

/*［リンク文字のホバー設定］下線表示、不透明度:70%*/
header nav li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/*［HOMEの書式設定］太字*/
header nav li a.active {
  font-weight: bold;
}

/*［mainの書式］下余白:30px*/
main {
  padding-bottom: 30px;
}

/*［footerの書式］背景色:黒、文字色:白、中央揃え、高さ:50px*/
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  /*height: 50px;*/
  padding-top: 17px;
  padding-bottom: 17px;
}
